{% extends "yapp/bootstrap.html" %}
{% block content %}
            <article class="media content-section">
                <div class="media-body">
                  <div class="article-metadata">
                    <a class="mr-2" href="/">About YApp Library</a>
                    <small class="text-muted">I am just an app, and that is all about me.</small>
                  </div>
                  <h2><a class="article-title" href="/">Back to YApp Library</a></h2>
                  <p class="article-content">See you again!</p>
                </div>
              </article>
{% endblock %}