{% extends "yapp/bootstrap.html" %}
        {% block content %}
            {% for book in books %}
            <article class="media content-section">
              {% if book.donor.profile.image %}
                <img class="rounded-circle article-img" src="{{ book.donor.profile.image.url }} ">
              {% else %}
                <img class="rounded-circle article-img" src="media/noprofile.jpg">
              {% endif %}
                <div class="media-body">
                  <div class="article-metadata">
                    <a class="mr-2" href="#">{{ book.author }}</a>
                    <small class="text-muted">Donor: {{ book.donor }}</small>
                  </div>
                  <h2><a class="article-title" href="{% url 'book-detail' book.id %}">{{ book.title }}</a></h2>
                  <p class="article-content">{{ book.date_barrowed|date:"F d, Y" }}</p>
                  <p class="article-content">{{ book.date_hired }}</p>
                </div>
              </article>
            {% endfor %}
            <!--Pagination Code Taken from Django Documentation and Edited-->
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        {% endblock %}